/* * {
    box-sizing: border-box;
  }
  
  html,
  body {
    overscroll-behavior-y: contain;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    user-select: none;
    font-family: Raleway, sans-serif;
    position: fixed;
    overflow: hidden;
  } */
  
  #root {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: url("https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png")
        39 39,
      auto;
    background-color: #fe5722;
  }
  
  #root > div > div > div.deck {
    position: absolute;
    width: 100vw;
    height: 100vh;
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #root > div > div > div.deck > div { 
  /* .card { */
    padding: 5px;
    background-color: white;
    background-size: auto 85%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 300px;
    max-width: 300px;
    height: 550px;
    max-height: 570px;
    will-change: transform;
    border-radius: 10px;
    box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4),
      0 10px 10px -10px rgba(50, 50, 73, 0.3);
  }
  
  .cropped {
    height: 320px;
    width: 320px;
    object-fit: scale-down;
    object-position: center;
    border-radius: 6px;
  }
  
  .deck button[aria-label="previous"],
  .deck button[aria-label="next"] {
    background: salmon !important;
    color: black !important;
  }
  
  .deck h2 {
    display: inline-block;
    margin-right: 10px;
  }
  
  .deck h2:nth-of-type(2) {
    opacity: 0.7;
    font-size: 1.35rem;
  }
  
  .deck h5 {
    margin-top: -15px;
    margin-left: 2px;
    color: lightgray;
  }
  .deck h5:last-of-type {
    color: darkgray;
  }
  
  .slider-control-bottomcenter {
    bottom: -15px !important;
  }
  
  .slider-control-bottomcenter > ul > li > button {
    color: salmon !important;
  }

  .App .expanded {
    height: 100vh !important;
  }
  .deck p {
    margin-top: 0.5em;
    margin-bottom: 0;
  }